<form action="/respond" method="post">
  
  <strong>Name</strong>: <input type="text" name="name" placeholder="Your name" value="">

  <strong>Will you be attending?</strong>: <input type="checkbox" name="isattending" value="">

  <strong>Are you bringing a +1?</strong>: <input type="checkbox" name="hasplusone" value="">

  <input type="submit" value="Respond to your invitation">
</form>
 <!-- form is a special place that lets you send stuff like this. with it being inside the form it wont send anywhere -->
